/* theme color */
$--color-primary: #5B98FA !default;
$--color-success: #67C23A !default;
$--color-warning: #F5A623 !default;
$--color-danger: #D32E1E !default;
$--color-info: #617492 !default;
$--color-white: #fff !default;
$--color-black: #000 !default;
$--color-text-primary: #334 !default;
$--color-text-regular: #667 !default;
$--color-text-secondary: #9090AB !default;
$--color-text-placeholder: #c0c4cc !default;

/* navBar color */
$--nav-bg: #222C3C !default;
$--nav-bg-light: #617492 !default;

/* border color */
$--border-color-base: #E6EAEE !default;
$--border-color-light: #e4e7ed !default;
$--border-color-lighter: #ebeef5 !default;
$--border-color-extra-light: #f2f6fc !default;
$--border-radius-base: 4px !default;
$--border-radius-small: 2px !default;
$--border-radius-circle: 100% !default;




